
<div style="display: block" >
<!-- <div style="width: 40%;"> -->
    <canvas
        baseChart
        [chartType]="'line'"
        [datasets]="linechartData"
        [labels]="linechartLabels"
        [options]="chartOptions"
        [legend]="true"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>  